In [1]:
import numpy as np
import pandas as pd

In [2]:
arr1 = np.arange(1,10)
arr1

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
myarr = np.random.randint(10,20,(1,10))

In [4]:
myarr=myarr*1000
myarr

array([[17000, 18000, 11000, 13000, 10000, 12000, 12000, 16000, 12000,
        12000]])

In [5]:
data = {

    'salary range ': ['Rs.10000 - Rs.20000', 'Rs.21000 - Rs.40000' ]
}